%p(id="notice")= notice

%p
  %b First name:
  = @person.first_name
%p
  %b Middle name:
  = @person.middle_name
%p
  %b Last name:
  = @person.last_name
%p
  %b Identifier:
  = @person.identifier
- if @person.father
  %p
    %b Father:
    = @person.father.name
- if @person.mother
  %p
    %b Mother:
    = @person.mother.name
- if !@person.linkedin.blank?
  %p
    %b Linkedin:
    = @person.linkedin
- if !@person.facebook.blank?
  %p
    %b Facebook:
    = @person.facebook
- if !@person.skype.blank?
  %p
    %b Skype:
    = @person.skype
- if @person.birthday
  %p
    %b Birthday:
    = @person.birthday
- @person.phone_numbers.each do |x|
  %p
    %b= x.name
    = x.number
- @person.emails.each do |x|
  %p
    %b= x.name
    = x.address
- @person.addresses.each do |x|
  %p
    %b= x.name
    %p= x.address1
    - if x.address2
      %p= x.address2
    - if x.address3
      %p= x.address3
    - if x.address4
      %p= x.address4
    %p= "#{x.city}, #{x.state} #{x.zip}"
    %p= x.country
%p
  %b Notes:
  = @person.notes

= link_to 'Edit', edit_person_path(@person)
|
= link_to 'Back', people_path
