%h1 Listing phone_numbers

%table
  %tr
    %th Person
    %th Phone Type
    %th Number
    %th
    %th
    %th
  - @phone_numbers.each do |phone_number|
    %tr
      %td= link_to phone_number.person.display_name, person_path(phone_number.person)
      %td= phone_number.name
      %td= phone_format(phone_number.number)
      %td= link_to 'Show', phone_number
      %td= link_to 'Edit', edit_phone_number_path(phone_number)
      %td= link_to 'Destroy', phone_number, confirm: 'Are you sure?', method: :delete
<br />

= link_to 'New Phone number', new_phone_number_path
= link_to 'People', people_path
