%p(id="notice")= notice

%p
  %b Person:
  = link_to @phone_number.person.display_name, person_path(@phone_number.person), :class => 'person'
%p
  %b Name:
  = @phone_number.name
%p
  %b Number:
  = phone_format(@phone_number.number)

= link_to 'Edit', edit_phone_number_path(@phone_number)
|
= link_to 'Back', phone_numbers_path
