%p(id="notice")= notice
%p
  %b Person:
  = link_to @address.person.display_name, person_path(@address.person), :class => 'person'
%p
  %b Name:
  = @address.name
%p
  %b Address1:
  = @address.address1
%p
  %b Address2:
  = @address.address2
%p
  %b Address3:
  = @address.address3
%p
  %b Address4:
  = @address.address4
%p
  %b City:
  = @address.city
%p
  %b State:
  = @address.state
%p
  %b Zip:
  = @address.zip
%p
  %b Country:
  = @address.country
  
= link_to 'Edit', edit_address_path(@address)
|
= link_to 'Back', addresses_path
