%h1 Listing organizations

%table
  %tr
    %th ID
    %th Name
    %th Parent
    %th
    %th
    %th
  - @organizations.each do |organization|
    %tr{:class => cycle('list_line_odd','list_line_even')}
      %td= organization.id
      %td= organization.name
      %td= link_to organization.parent.display_name, organization_path(organization.parent), :class=>'organization' if organization.parent
      %td= link_to 'Show', organization
      %td= link_to 'Edit', edit_organization_path(organization)
      %td= link_to 'Destroy', organization, confirm: 'Are you sure?', method: :delete
%br
= link_to 'New Organization', new_organization_path
%br
= link_to 'People', people_path
