%p(id="notice")= notice

%p
  %b Name
  = @organization.name
- if @organization.parent
  %p
    %b Parent:
    = link_to @organization.parent.display_name, organization_path(@organization.parent), :class => 'organization'
%p
  %b Notes:
  - if !@organization.notes.blank?
    %hr
    != BlueCloth.new(note_markup(@organization.notes)).to_html
    %hr

= link_to 'Edit', edit_organization_path(@organization)
|
= link_to 'Back', organizations_path

