= semantic_form_for @email do |f|
  = f.inputs do
    = f.input :person, :include_blank => false, :label_method => :display_name, :collection => Person.find(:all, :order => "last_name ASC")
    = f.input :name, :label => 'Email Type'
    = f.input :address
  = f.buttons do
    = f.commit_button

