%h1 Listing emails

%table
  %tr
    %th Person
    %th Email Type
    %th Address
    %th
    %th
    %th
  - @emails.each do |email|
    %tr
      %td= link_to email.person.display_name, person_path(email.person), :class=>'person'
      %td= email.name
      %td= email.address
      %td= link_to 'Show', email
      %td= link_to 'Edit', edit_email_path(email)
      %td= link_to 'Destroy', email, confirm: 'Are you sure?', method: :delete

<br />

= link_to 'New Email', new_email_path
= link_to 'People', people_path
